.contact-page {
  .contact-bg {
    background-image: url(../../images/contact-page-side-bg.png);
    background-size: cover;
    width: 50%;
    .glass-effect {
      background-color: rgba(253, 113, 113, 0.1);
      background-blend-mode: overlay;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      width: 100%;
    }
  }
}
