nav {
  color: white !important;
  a {
    color: white !important;
  }
  .navbar-brand {
    margin-left: 60px;
  }
  button {
    border-color: var(--blue-deep) !important;
    &:hover {
      border-color: var(--blue-deep) !important;
    }
  }
  .nav-text {
    position: relative;
    &:after {
      content: '';
      background-color: white;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      margin: 0 auto;
    }
    &:hover {
      &:after {
        width: 100%;
        transition: width 0.95s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}
